.restaurant-details-wrapper {
  background-color: #efefef;
  font-family: 'Montserrat', sans-serif;

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;

    .go-back {
      justify-self: flex-start;
      flex: 0 0 5rem;
      font-family: 'Montserrat', sans-serif;
    }

    .heading-wrapper {
      flex: 1 1 0;
      display: flex;
      justify-content: center;
      align-items: baseline;
      font-family: 'Montserrat', sans-serif;

      .ratings-container {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: 0 0 0 1rem;
        font-family: 'Montserrat', sans-serif;

        .star-image {
          width: clamp(0.75rem, 1rem, 1.25rem);
          margin: 0 0 0 0.25rem;
          filter: drop-shadow(0.075rem 0.075rem 0 gray);
        }
      }
    }
  }

  .content-container {
    flex: 1 1 0;
    background: linear-gradient(150deg, rgba(119, 201, 212, 1) 0%, rgba(87, 188, 144, 1) 100%);
    color: #192231;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;

    .restaurant-details {
      flex: 1 0 0;
      text-align: center;
      margin: 0 auto;
      font-family: 'Montserrat', sans-serif;
    }

    .restaurant-image-container {
      flex: 0 0 0;
      margin: 0 auto;
      padding: 1rem;
      text-align: center;

      figure {
        width: 100%;
        margin: 0 auto;

        .restaurant-image {
          width: clamp(12.5rem, 16rem, 20rem);
        }
      }
    }

    .card-listitem-value {
      margin-left: 0.5rem;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
